language: python

python:
    - 2.7
    - 3.3
    - 3.4
    - 3.5
    # This is just for "egg_info".  All other builds are explicitly given in the matrix

# Setting sudo to false opts in to Travis-CI container-based builds.
sudo: false

# The apt packages below are needed for sphinx builds. A full list of packages
# that can be included can be found here:
#
# https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise

addons:
    apt:
        packages:
            - graphviz
            - texlive-latex-extra
            - dvipng

env:
    global:
        # The following versions are the 'default' for tests, unless
        # overidden underneath. They are defined here in order to save having
        # to repeat them for all configurations.
        - ASTROPY_VERSION=stable
        - CONDA_DEPENDENCIES='scipy matplotlib pytest pip'
        - PIP_DEPENDENCIES=''
        - MAIN_CMD='python setup.py'
        - USE_NETCDF=yes
    matrix:
        # Make sure that egg_info works without dependencies
        - SETUP_CMD='egg_info'

matrix:
    include:
        # Try Astropy development version
        - python: 2.7
          env: ASTROPY_VERSION=development SETUP_CMD='test'
        - python: 3.4
          env: ASTROPY_VERSION=development SETUP_CMD='test'
        - python: 3.5
          env: ASTROPY_VERSION=development SETUP_CMD='test'
        # Check for sphinx doc build warnings - we do this first because it
        # may run for a long time
        - python: 2.7
          env: SETUP_CMD='build_sphinx -w'
        # Try all python versions with the latest numpy
        - python: 2.7
          env: SETUP_CMD='test --coverage'
        - python: 2.7
          env: SETUP_CMD='test --coverage' USE_NETCDF=no
        - python: 3.3
          env: SETUP_CMD='test' NUMPY_VERSION=1.9
        # Old matplotlib
        - python: 3.4
          env: SETUP_CMD='test' CONDA_DEPENDENCIES='scipy matplotlib==1.4.3 pytest pip'
        - python: 3.4
          env: SETUP_CMD='test --coverage' USE_NETCDF=no
        - python: 3.4
          env: SETUP_CMD='test --coverage' USE_NUMBA=yes
        - python: 3.5
          env: SETUP_CMD='test'
        # Try older numpy versions
        - python: 3.4
          env: NUMPY_VERSION=1.9 SETUP_CMD='test'
        - python: 3.4
          env: NUMPY_VERSION=1.8 SETUP_CMD='test'
        - python: 2.7
          env: NUMPY_VERSION=1.7 SETUP_CMD='test'
        - python: 2.7
          env: NUMPY_VERSION=1.6 SETUP_CMD='test'
        # Test Astropy LTS version
        - python: 2.7
          env: SETUP_CMD='test' ASTROPY_VERSION=lts
        - python: 3.4
          env: SETUP_CMD='test' ASTROPY_VERSION=lts
        - python: 3.5
          env: SETUP_CMD='test' ASTROPY_VERSION=lts

    allow_failures:
        - python: 3.4
          env: NUMPY_VERSION=1.8 SETUP_CMD='test'
        - python: 2.7
          env: NUMPY_VERSION=1.7 SETUP_CMD='test'
        - python: 2.7
          env: NUMPY_VERSION=1.6 SETUP_CMD='test'
        - python: 2.7
          env: ASTROPY_VERSION=development SETUP_CMD='test'
        - python: 3.4
          env: ASTROPY_VERSION=development SETUP_CMD='test'
        - python: 2.7
          env: SETUP_CMD='build_sphinx -w'
        - python: 3.5
          env: ASTROPY_VERSION=development SETUP_CMD='test'
        - python: 3.5
          env: SETUP_CMD='test' ASTROPY_VERSION=lts

before_install:
    - git clone git://github.com/astropy/ci-helpers.git
    - source ci-helpers/travis/setup_conda_$TRAVIS_OS_NAME.sh
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start

install:
    # OPTIONAL DEPENDENCIES
    # Here you can add any dependencies your package may have. You can use
    # conda for packages available through conda, or pip for any other
    # packages. You should leave the `numpy=$NUMPY_VERSION` in the `conda`
    # install since this ensures Numpy does not get automatically upgraded.
    - if [[ $SETUP_CMD != egg_info ]] && [[ $USE_NETCDF == yes ]]; then $CONDA_INSTALL netcdf4; fi
    - if [[ $SETUP_CMD != egg_info ]] && [[ $USE_NUMBA == yes ]]; then $CONDA_INSTALL numba; fi
    - if [[ $SETUP_CMD != egg_info ]]; then python setup.py install; fi

script:
    - $MAIN_CMD $SETUP_CMD

after_success:
    # If coveralls.io is set up for this package, uncomment the line
    # below and replace "packagename" with the name of your package.
    # The coveragerc file may be customized as needed for your package.
    - if [[ $SETUP_CMD == 'test --coverage' ]]; then coveralls --rcfile='maltpynt/tests/coveragerc'; fi
