include pyproject.toml
include LICENSE.rst
include README.rst
# include CHANGES.rst
# include pip-requirements*
include CITATION

include setup.cfg
include hendrics/tests/coveragerc
recursive-include hendrics *.evt *.fits *.rmf
recursive-include hendrics/tests/data *.evt *.fits *.rmf

include astropy/astropy.cfg

recursive-include docs *
recursive-include examples *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *
recursive-include static *

prune docs/_build
prune build

global-exclude *.pyc *.o