include pyproject.toml
include LICENSE.rst
include README.rst
include CITATION

recursive-include hendrics *.evt *.evt.gz *.fits *.rmf
recursive-include hendrics/tests/data *.evt *.evt.gz *.fits *.rmf

recursive-include docs *

prune docs/_build
prune build

global-exclude *.pyc *.o
