name: CI Tests

on:
  push:
    branches:
    - main
  pull_request:
  schedule:
    # run every Monday at 6am UTC
    - cron: '0 6 * * 1'

env:
  SETUP_XVFB: True  # avoid issues if mpl tries to open a GUI window
  TOXARGS: '-v'

jobs:
  ci-tests:
    name: ${{ matrix.os }}, ${{ matrix.tox_env }}
    runs-on: ${{ matrix.os }}
    if: "!(contains(github.event.head_commit.message, '[skip ci]') || contains(github.event.head_commit.message, '[ci skip]'))"
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python: '3.8'
            tox_env: 'build_docs'
          - os: ubuntu-latest
            python: '3.10'
            tox_env: 'codestyle'
          - os: ubuntu-latest
            python: '3.10'
            tox_env: 'py310-test-cov'
          - os: ubuntu-latest
            python: '3.10'
            tox_env: 'py310-test-alldeps-cov'
            use_remote_data: true
          - os: ubuntu-latest
            python: '3.10'
            tox_env: 'py310-test-devdeps'
            use_remote_data: true
            continue-on-error: true
          - os: ubuntu-latest
            python: '3.8'
            tox_env: 'py38-test-oldestdeps-cov'
            use_remote_data: true
          - os: macos-latest
            python: '3.10'
            tox_env: 'py310-test'
          - os: windows-latest
            python: '3.10'
            tox_env: 'py310-test'

    steps:
    - name: Check out repository
      uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Install graphviz dependency
      if: "endsWith(matrix.tox_env, 'build_docs')"
      run: sudo apt-get -y install graphviz
    - name: Print Python, pip, setuptools, and tox versions
      run: |
        python -c "import sys; print(f'Python {sys.version}')"
        python -c "import pip; print(f'pip {pip.__version__}')"
        python -c "import setuptools; print(f'setuptools {setuptools.__version__}')"
        python -c "import tox; print(f'tox {tox.__version__}')"
    - name: Run tests
      if: "! matrix.use_remote_data"
      run: tox -e ${{ matrix.tox_env }}
    - name: Run tests with remote data
      if: "matrix.use_remote_data"
      run: |
        pip install pytest-remotedata
        tox -e ${{ matrix.tox_env }} -- --remote-data=any
    - name: Upload coverage to codecov
      if: "endsWith(matrix.tox_env, '-cov')"
      uses: codecov/codecov-action@v1.0.13
      with:
        file: ./coverage.xml
